
    /* =========================
    RESET BÁSICO
========================= */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* =========================
    BODY
========================= */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #faf7f3;
    font-family: 'Courier Prime', monospace;
    color: #444;

    /* Imagen de fondo decorativa */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    }



/* =========================
    HEADER
========================= */
    header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    padding: 16px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #fff;
    border-bottom: 1px solid #eee;
    }
    

    .logo {
    width: 120px;
    height: auto;
    }

    .nav a {
    margin-left: 24px;
    color: #894646;
    font-weight: 500;
    }

    .nav a:hover {
    color: #4a617f;
    }

    nav a {
    text-decoration: none;
    color: #ff6b6b;
    margin: 0 10px;
    font-weight: bold;  
    }

    nav a:last-child {
    color: #ff6b6b;
    }


/* ========================= 
    MAIN
========================= */
main {
    flex: 1;

    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #894646;
    }



/* =========================
    FONFDO MAIN 
=========================*/
    .fondo{
    flex: 1;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #894646;
    }
    
/* =========================
    FORMULARIO
========================= */
.form-container {
    width: 100%;
    max-width: 420px;

    padding: 30px 40px;
    text-align: center;
    
}

    input {
    width: 100%;
    margin-bottom: 10px;

    border: 1px solid #f7f7f7;
    border-radius: 8px;
    padding: 8px 10px;

    font-size: 14px;
    outline: none;
}

    input:focus {
    border-color: #ff6b6b;
    }

    .submit-btn a {
        color: #894646;
    }

    .login-link a {
        color: #894646;
    }
/* =========================
    FOOTER
========================= */
    footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    background-color: #fff;
    border-bottom: 1px solid #ffffff;
    }
    

    .footer a {
    margin-left: 24px;
    color: #894646;
    font-weight: 500;
    }

    .footer a:hover {
    color: #4a617f;
    }

    footer a {
    text-decoration: none;
    margin: 0 0px;
    font-weight: bold;
    }


    footer a:last-child {
    color: #894646;
    }
    footer p {
        margin-bottom: 4px;
        text-align: center;
    }


/* =========================
    ENCABEZADOS 
========================= */

    #myHome {
    text-align: center;
    }


/* =========================
    IMAGEN INICIO
========================= */

    .imguno {
    width: 100%;   
    justify-self: unset;;    
    }

    @media (max-width: 768px) {

    .imagen-hero {
    height: 40vh;          /* menos altura en móvil */
    object-position: top; /* prioriza la parte superior */
    }
    }
